.cardImage{
    max-height:100%;
    max-width:100%;
}

#cardsBody{
    padding: 0px;
    max-height: 20em;
    overflow: scroll;
}

#cardDetails{
    min-height: 100px;
}

.cardDetailsImage{
    max-height: 15em;
}


.cardListRow > td{
    padding: 7px;
    padding-left: 2px;
    padding-right: 2px;
}

.cardListRow > .icon-shard {
    padding: 0px;
    padding-top: 3px;
}

.icon-shard > img {
    max-height: 2em;
}
