@page
@model ASDeckBuilder.Pages.CardDetailsModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div id ="cardDetails" class="row">
    <div class="col col-5">
        <img class="cardDetailsImage" src="@("/img/cards/" + @Model.card.CardId + ".jpg")">
    </div>
    <div class="col col-7">@Model.card.Name</div>
</div>

