@page
@model ASDeckBuilder.Pages.CardDetailsModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div id ="cardDetails" class="row">
    <div class="col col-5">
        <img class="cardDetailsImage img-fluid" src="@("/img/cards/" + @Model.card.CardId + ".jpg")">
    </div>
    <div class="col col-7">
        <h5>
            @Model.card.Name
        </h5>
        <p class="text-secondary text-left">
            @Model.card.CardEffects.FirstOrDefault().Text

        </p>
    
    </div>
    <div class="col col-12">
        <br />
        <div class="btn-group">
            <button type="button" class="btn btn-secondary">
                <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-secondary">
                <i class="fas fa-plus"></i>
            </button>
        </div>
    </div>

